--
-- PostgreSQL database dump
--

\restrict FMX0fc3b2t2b6OzsNhehjsc3WF9Se5J3h20Kk4BNeWWIajOf0M7cIEkFlZyIeNI

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_hotspot_sessions_updated_at(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.update_hotspot_sessions_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_hotspot_sessions_updated_at() OWNER TO admin;

--
-- Name: update_hotspot_users_updated_at(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.update_hotspot_users_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_hotspot_users_updated_at() OWNER TO admin;

--
-- Name: update_radius_sessions_updated_at(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.update_radius_sessions_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_radius_sessions_updated_at() OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: data_usage_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.data_usage_logs (
    id bigint NOT NULL,
    hotspot_user_id bigint,
    radius_session_id bigint,
    bytes_in bigint NOT NULL,
    bytes_out bigint NOT NULL,
    total_bytes bigint NOT NULL,
    recorded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    source character varying(50) DEFAULT 'radius_accounting'::character varying
);


ALTER TABLE public.data_usage_logs OWNER TO admin;

--
-- Name: TABLE data_usage_logs; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.data_usage_logs IS 'Time-series data usage tracking for analytics';


--
-- Name: data_usage_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.data_usage_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_usage_logs_id_seq OWNER TO admin;

--
-- Name: data_usage_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.data_usage_logs_id_seq OWNED BY public.data_usage_logs.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.failed_jobs OWNER TO admin;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failed_jobs_id_seq OWNER TO admin;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: hotspot_credentials; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.hotspot_credentials (
    id bigint NOT NULL,
    hotspot_user_id bigint,
    payment_id bigint,
    username character varying(64) NOT NULL,
    plain_password character varying(64) NOT NULL,
    phone_number character varying(20) NOT NULL,
    sms_sent boolean DEFAULT false,
    sms_sent_at timestamp without time zone,
    sms_message_id character varying(100),
    sms_status character varying(50),
    credentials_expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.hotspot_credentials OWNER TO admin;

--
-- Name: TABLE hotspot_credentials; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.hotspot_credentials IS 'Temporary storage of credentials for SMS delivery tracking';


--
-- Name: hotspot_credentials_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.hotspot_credentials_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hotspot_credentials_id_seq OWNER TO admin;

--
-- Name: hotspot_credentials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.hotspot_credentials_id_seq OWNED BY public.hotspot_credentials.id;


--
-- Name: hotspot_sessions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.hotspot_sessions (
    id bigint NOT NULL,
    hotspot_user_id bigint NOT NULL,
    mac_address character varying(255),
    ip_address character varying(255),
    session_start timestamp without time zone NOT NULL,
    session_end timestamp without time zone,
    last_activity timestamp without time zone,
    expires_at timestamp without time zone,
    is_active boolean DEFAULT true,
    bytes_uploaded bigint DEFAULT 0,
    bytes_downloaded bigint DEFAULT 0,
    total_bytes bigint DEFAULT 0,
    user_agent character varying(500),
    device_type character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.hotspot_sessions OWNER TO admin;

--
-- Name: TABLE hotspot_sessions; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.hotspot_sessions IS 'Tracks active and historical hotspot user sessions';


--
-- Name: COLUMN hotspot_sessions.bytes_uploaded; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.hotspot_sessions.bytes_uploaded IS 'Total bytes uploaded in this session';


--
-- Name: COLUMN hotspot_sessions.bytes_downloaded; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.hotspot_sessions.bytes_downloaded IS 'Total bytes downloaded in this session';


--
-- Name: COLUMN hotspot_sessions.total_bytes; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.hotspot_sessions.total_bytes IS 'Total bytes transferred in this session';


--
-- Name: hotspot_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.hotspot_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hotspot_sessions_id_seq OWNER TO admin;

--
-- Name: hotspot_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.hotspot_sessions_id_seq OWNED BY public.hotspot_sessions.id;


--
-- Name: hotspot_users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.hotspot_users (
    id bigint NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    phone_number character varying(255) NOT NULL,
    mac_address character varying(255),
    has_active_subscription boolean DEFAULT false,
    package_name character varying(255),
    package_id bigint,
    subscription_starts_at timestamp without time zone,
    subscription_expires_at timestamp without time zone,
    data_limit bigint,
    data_used bigint DEFAULT 0,
    last_login_at timestamp without time zone,
    last_login_ip character varying(255),
    is_active boolean DEFAULT true,
    status character varying(50) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.hotspot_users OWNER TO admin;

--
-- Name: TABLE hotspot_users; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.hotspot_users IS 'Stores hotspot user credentials and subscription information';


--
-- Name: COLUMN hotspot_users.data_limit; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.hotspot_users.data_limit IS 'Data limit in bytes (e.g., 1073741824 = 1GB)';


--
-- Name: COLUMN hotspot_users.data_used; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.hotspot_users.data_used IS 'Total data used in bytes';


--
-- Name: COLUMN hotspot_users.status; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON COLUMN public.hotspot_users.status IS 'User status: active, suspended, or expired';


--
-- Name: hotspot_users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.hotspot_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hotspot_users_id_seq OWNER TO admin;

--
-- Name: hotspot_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.hotspot_users_id_seq OWNED BY public.hotspot_users.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO admin;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO admin;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO admin;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: nas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.nas (
    id integer NOT NULL,
    nasname character varying(128) NOT NULL,
    shortname character varying(32),
    type character varying(32) DEFAULT 'other'::character varying,
    ports integer,
    secret character varying(60) NOT NULL,
    server character varying(64),
    community character varying(50),
    description character varying(128)
);


ALTER TABLE public.nas OWNER TO admin;

--
-- Name: nas_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.nas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.nas_id_seq OWNER TO admin;

--
-- Name: nas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.nas_id_seq OWNED BY public.nas.id;


--
-- Name: packages; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.packages (
    id integer NOT NULL,
    type character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    duration character varying(50) NOT NULL,
    upload_speed character varying(50) NOT NULL,
    download_speed character varying(50) NOT NULL,
    price double precision NOT NULL,
    devices integer NOT NULL,
    enable_burst boolean DEFAULT false,
    enable_schedule boolean DEFAULT false,
    hide_from_client boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.packages OWNER TO admin;

--
-- Name: packages_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.packages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.packages_id_seq OWNER TO admin;

--
-- Name: packages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.packages_id_seq OWNED BY public.packages.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255),
    created_at timestamp without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO admin;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    user_id integer,
    mac_address character varying(17) NOT NULL,
    phone_number character varying(15) NOT NULL,
    package_id integer,
    router_id integer,
    amount numeric(10,2) NOT NULL,
    transaction_id character varying(255) NOT NULL,
    mpesa_receipt character varying(255),
    status character varying(20) DEFAULT 'pending'::character varying,
    payment_method character varying(50) DEFAULT 'mpesa'::character varying,
    callback_response json,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.payments OWNER TO admin;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO admin;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp without time zone,
    expires_at timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO admin;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personal_access_tokens_id_seq OWNER TO admin;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: radacct; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radacct (
    radacctid bigint NOT NULL,
    acctsessionid character varying(64) NOT NULL,
    acctuniqueid character varying(32) NOT NULL,
    username character varying(64),
    realm character varying(64),
    nasipaddress inet NOT NULL,
    nasportid character varying(15),
    acctstarttime timestamp with time zone,
    acctupdatetime timestamp with time zone,
    acctstoptime timestamp with time zone,
    acctinterval bigint,
    acctsessiontime bigint,
    acctauthentic character varying(32),
    connectinfo_start character varying(50),
    connectinfo_stop character varying(50),
    acctinputoctets bigint DEFAULT 0,
    acctoutputoctets bigint DEFAULT 0,
    calledstationid character varying(50),
    callingstationid character varying(50),
    acctterminatecause character varying(32),
    servicetype character varying(32),
    framedprotocol character varying(32),
    framedipaddress inet,
    acctstartdelay bigint DEFAULT 0,
    acctstopdelay bigint DEFAULT 0
);


ALTER TABLE public.radacct OWNER TO admin;

--
-- Name: radacct_radacctid_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radacct_radacctid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radacct_radacctid_seq OWNER TO admin;

--
-- Name: radacct_radacctid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radacct_radacctid_seq OWNED BY public.radacct.radacctid;


--
-- Name: radcheck; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radcheck (
    id integer NOT NULL,
    username character varying(64) DEFAULT ''::character varying NOT NULL,
    attribute character varying(64) DEFAULT ''::character varying NOT NULL,
    op character(2) DEFAULT '=='::bpchar NOT NULL,
    value character varying(253) DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public.radcheck OWNER TO admin;

--
-- Name: radcheck_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radcheck_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radcheck_id_seq OWNER TO admin;

--
-- Name: radcheck_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radcheck_id_seq OWNED BY public.radcheck.id;


--
-- Name: radgroupcheck; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radgroupcheck (
    id integer NOT NULL,
    groupname character varying(64) DEFAULT ''::character varying NOT NULL,
    attribute character varying(64) DEFAULT ''::character varying NOT NULL,
    op character(2) DEFAULT '=='::bpchar NOT NULL,
    value character varying(253) DEFAULT ''::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.radgroupcheck OWNER TO admin;

--
-- Name: radgroupcheck_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radgroupcheck_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radgroupcheck_id_seq OWNER TO admin;

--
-- Name: radgroupcheck_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radgroupcheck_id_seq OWNED BY public.radgroupcheck.id;


--
-- Name: radgroupreply; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radgroupreply (
    id integer NOT NULL,
    groupname character varying(64) DEFAULT ''::character varying NOT NULL,
    attribute character varying(64) DEFAULT ''::character varying NOT NULL,
    op character(2) DEFAULT '='::bpchar NOT NULL,
    value character varying(253) DEFAULT ''::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.radgroupreply OWNER TO admin;

--
-- Name: radgroupreply_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radgroupreply_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radgroupreply_id_seq OWNER TO admin;

--
-- Name: radgroupreply_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radgroupreply_id_seq OWNED BY public.radgroupreply.id;


--
-- Name: radius_sessions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radius_sessions (
    id bigint NOT NULL,
    hotspot_user_id bigint,
    payment_id bigint,
    package_id bigint,
    radacct_id bigint,
    username character varying(64) NOT NULL,
    mac_address character varying(17),
    ip_address inet,
    nas_ip_address inet,
    session_start timestamp without time zone NOT NULL,
    session_end timestamp without time zone,
    expected_end timestamp without time zone NOT NULL,
    duration_seconds bigint DEFAULT 0,
    bytes_in bigint DEFAULT 0,
    bytes_out bigint DEFAULT 0,
    total_bytes bigint DEFAULT 0,
    status character varying(20) DEFAULT 'active'::character varying,
    disconnect_reason character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.radius_sessions OWNER TO admin;

--
-- Name: TABLE radius_sessions; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.radius_sessions IS 'Enhanced session tracking linking hotspot users with RADIUS accounting';


--
-- Name: radius_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radius_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radius_sessions_id_seq OWNER TO admin;

--
-- Name: radius_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radius_sessions_id_seq OWNED BY public.radius_sessions.id;


--
-- Name: radpostauth; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radpostauth (
    id bigint NOT NULL,
    username character varying(64) NOT NULL,
    pass character varying(64),
    reply character varying(32),
    authdate timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.radpostauth OWNER TO admin;

--
-- Name: radpostauth_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radpostauth_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radpostauth_id_seq OWNER TO admin;

--
-- Name: radpostauth_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radpostauth_id_seq OWNED BY public.radpostauth.id;


--
-- Name: radreply; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radreply (
    id integer NOT NULL,
    username character varying(64) DEFAULT ''::character varying NOT NULL,
    attribute character varying(64) DEFAULT ''::character varying NOT NULL,
    op character(2) DEFAULT '='::bpchar NOT NULL,
    value character varying(253) DEFAULT ''::character varying NOT NULL
);


ALTER TABLE public.radreply OWNER TO admin;

--
-- Name: radreply_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radreply_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radreply_id_seq OWNER TO admin;

--
-- Name: radreply_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radreply_id_seq OWNED BY public.radreply.id;


--
-- Name: radusergroup; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.radusergroup (
    id integer NOT NULL,
    username character varying(64) DEFAULT ''::character varying NOT NULL,
    groupname character varying(64) DEFAULT ''::character varying NOT NULL,
    priority integer DEFAULT 1 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.radusergroup OWNER TO admin;

--
-- Name: radusergroup_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.radusergroup_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.radusergroup_id_seq OWNER TO admin;

--
-- Name: radusergroup_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.radusergroup_id_seq OWNED BY public.radusergroup.id;


--
-- Name: router_configs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.router_configs (
    id integer NOT NULL,
    router_id integer,
    config_type character varying(50) NOT NULL,
    config_data json,
    config_content text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.router_configs OWNER TO admin;

--
-- Name: router_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.router_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.router_configs_id_seq OWNER TO admin;

--
-- Name: router_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.router_configs_id_seq OWNED BY public.router_configs.id;


--
-- Name: router_vpn_configs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.router_vpn_configs (
    id integer NOT NULL,
    router_id integer,
    wireguard_public_key character varying(255) NOT NULL,
    wireguard_private_key text,
    vpn_ip_address inet NOT NULL,
    listen_port integer DEFAULT 13231,
    vpn_connected boolean DEFAULT false,
    last_handshake timestamp without time zone,
    bytes_received bigint DEFAULT 0,
    bytes_sent bigint DEFAULT 0,
    radius_server_ip inet DEFAULT '10.10.10.1'::inet,
    radius_auth_port integer DEFAULT 1812,
    radius_acct_port integer DEFAULT 1813,
    radius_secret character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.router_vpn_configs OWNER TO admin;

--
-- Name: router_vpn_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.router_vpn_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.router_vpn_configs_id_seq OWNER TO admin;

--
-- Name: router_vpn_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.router_vpn_configs_id_seq OWNED BY public.router_vpn_configs.id;


--
-- Name: routers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.routers (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    ip_address character varying(45),
    model character varying(255),
    os_version character varying(50),
    last_seen timestamp without time zone,
    port integer DEFAULT 8728,
    username character varying(100) NOT NULL,
    password text NOT NULL,
    location character varying(255),
    status character varying(50) DEFAULT 'pending'::character varying,
    provisioning_stage character varying(50),
    interface_assignments json DEFAULT '[]'::json,
    configurations json DEFAULT '[]'::json,
    config_token character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.routers OWNER TO admin;

--
-- Name: routers_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.routers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.routers_id_seq OWNER TO admin;

--
-- Name: routers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.routers_id_seq OWNED BY public.routers.id;


--
-- Name: session_disconnections; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.session_disconnections (
    id bigint NOT NULL,
    radius_session_id bigint,
    hotspot_user_id bigint,
    disconnect_method character varying(50),
    disconnect_reason character varying(255),
    disconnected_at timestamp without time zone NOT NULL,
    disconnected_by integer,
    total_duration bigint,
    total_data_used bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.session_disconnections OWNER TO admin;

--
-- Name: TABLE session_disconnections; Type: COMMENT; Schema: public; Owner: admin
--

COMMENT ON TABLE public.session_disconnections IS 'Audit log of all session disconnections';


--
-- Name: session_disconnections_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.session_disconnections_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.session_disconnections_id_seq OWNER TO admin;

--
-- Name: session_disconnections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.session_disconnections_id_seq OWNED BY public.session_disconnections.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id integer,
    ip_address character varying(45),
    user_agent text,
    payload text,
    last_activity integer
);


ALTER TABLE public.sessions OWNER TO admin;

--
-- Name: system_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.system_logs (
    id integer NOT NULL,
    action character varying(255) NOT NULL,
    details json,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.system_logs OWNER TO admin;

--
-- Name: system_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.system_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_logs_id_seq OWNER TO admin;

--
-- Name: system_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.system_logs_id_seq OWNED BY public.system_logs.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    payment_id integer,
    voucher character varying(255) NOT NULL,
    mac_address character varying(17) NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_sessions OWNER TO admin;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_sessions_id_seq OWNER TO admin;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: user_subscriptions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.user_subscriptions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    package_id integer NOT NULL,
    payment_id integer,
    mac_address character varying(17) NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying,
    mikrotik_username character varying(255),
    mikrotik_password character varying(255),
    data_used_mb bigint DEFAULT 0,
    time_used_minutes integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_subscriptions OWNER TO admin;

--
-- Name: user_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.user_subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_subscriptions_id_seq OWNER TO admin;

--
-- Name: user_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.user_subscriptions_id_seq OWNED BY public.user_subscriptions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp without time zone,
    password character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'hotspot_user'::character varying NOT NULL,
    phone_number character varying(20),
    account_number character varying(50),
    account_balance numeric(10,2) DEFAULT 0.00,
    is_active boolean DEFAULT true,
    last_login_at timestamp without time zone,
    remember_token character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'hotspot_user'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vouchers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vouchers (
    id integer NOT NULL,
    code character varying(255) NOT NULL,
    mac_address character varying(17) NOT NULL,
    payment_id integer NOT NULL,
    package_id integer NOT NULL,
    duration_hours integer NOT NULL,
    status character varying(20) DEFAULT 'unused'::character varying,
    expires_at timestamp without time zone NOT NULL,
    mikrotik_response json,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.vouchers OWNER TO admin;

--
-- Name: vouchers_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.vouchers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vouchers_id_seq OWNER TO admin;

--
-- Name: vouchers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.vouchers_id_seq OWNED BY public.vouchers.id;


--
-- Name: wireguard_peers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.wireguard_peers (
    id integer NOT NULL,
    router_id integer,
    peer_name character varying(255),
    public_key text,
    endpoint character varying(255),
    allowed_ips text,
    last_handshake timestamp without time zone
);


ALTER TABLE public.wireguard_peers OWNER TO admin;

--
-- Name: wireguard_peers_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.wireguard_peers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wireguard_peers_id_seq OWNER TO admin;

--
-- Name: wireguard_peers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.wireguard_peers_id_seq OWNED BY public.wireguard_peers.id;


--
-- Name: data_usage_logs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.data_usage_logs ALTER COLUMN id SET DEFAULT nextval('public.data_usage_logs_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: hotspot_credentials id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_credentials ALTER COLUMN id SET DEFAULT nextval('public.hotspot_credentials_id_seq'::regclass);


--
-- Name: hotspot_sessions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_sessions ALTER COLUMN id SET DEFAULT nextval('public.hotspot_sessions_id_seq'::regclass);


--
-- Name: hotspot_users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_users ALTER COLUMN id SET DEFAULT nextval('public.hotspot_users_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: nas id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.nas ALTER COLUMN id SET DEFAULT nextval('public.nas_id_seq'::regclass);


--
-- Name: packages id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.packages ALTER COLUMN id SET DEFAULT nextval('public.packages_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: radacct radacctid; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radacct ALTER COLUMN radacctid SET DEFAULT nextval('public.radacct_radacctid_seq'::regclass);


--
-- Name: radcheck id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radcheck ALTER COLUMN id SET DEFAULT nextval('public.radcheck_id_seq'::regclass);


--
-- Name: radgroupcheck id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radgroupcheck ALTER COLUMN id SET DEFAULT nextval('public.radgroupcheck_id_seq'::regclass);


--
-- Name: radgroupreply id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radgroupreply ALTER COLUMN id SET DEFAULT nextval('public.radgroupreply_id_seq'::regclass);


--
-- Name: radius_sessions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radius_sessions ALTER COLUMN id SET DEFAULT nextval('public.radius_sessions_id_seq'::regclass);


--
-- Name: radpostauth id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radpostauth ALTER COLUMN id SET DEFAULT nextval('public.radpostauth_id_seq'::regclass);


--
-- Name: radreply id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radreply ALTER COLUMN id SET DEFAULT nextval('public.radreply_id_seq'::regclass);


--
-- Name: radusergroup id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radusergroup ALTER COLUMN id SET DEFAULT nextval('public.radusergroup_id_seq'::regclass);


--
-- Name: router_configs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_configs ALTER COLUMN id SET DEFAULT nextval('public.router_configs_id_seq'::regclass);


--
-- Name: router_vpn_configs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_vpn_configs ALTER COLUMN id SET DEFAULT nextval('public.router_vpn_configs_id_seq'::regclass);


--
-- Name: routers id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.routers ALTER COLUMN id SET DEFAULT nextval('public.routers_id_seq'::regclass);


--
-- Name: session_disconnections id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.session_disconnections ALTER COLUMN id SET DEFAULT nextval('public.session_disconnections_id_seq'::regclass);


--
-- Name: system_logs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.system_logs ALTER COLUMN id SET DEFAULT nextval('public.system_logs_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: user_subscriptions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.user_subscriptions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vouchers id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vouchers ALTER COLUMN id SET DEFAULT nextval('public.vouchers_id_seq'::regclass);


--
-- Name: wireguard_peers id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.wireguard_peers ALTER COLUMN id SET DEFAULT nextval('public.wireguard_peers_id_seq'::regclass);


--
-- Data for Name: data_usage_logs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.data_usage_logs (id, hotspot_user_id, radius_session_id, bytes_in, bytes_out, total_bytes, recorded_at, source) FROM stdin;
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: hotspot_credentials; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.hotspot_credentials (id, hotspot_user_id, payment_id, username, plain_password, phone_number, sms_sent, sms_sent_at, sms_message_id, sms_status, credentials_expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: hotspot_sessions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.hotspot_sessions (id, hotspot_user_id, mac_address, ip_address, session_start, session_end, last_activity, expires_at, is_active, bytes_uploaded, bytes_downloaded, total_bytes, user_agent, device_type, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: hotspot_users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
1426	log-rotation	{"uuid":"ac8b361a-6e0d-46e3-ae2b-68bbc159b424","displayName":"App\\\\Jobs\\\\RotateLogs","job":"Illuminate\\\\Queue\\\\CallQueuedHandler@call","maxTries":3,"maxExceptions":3,"failOnTimeout":false,"backoff":null,"timeout":180,"retryUntil":null,"data":{"commandName":"App\\\\Jobs\\\\RotateLogs","command":"O:19:\\"App\\\\Jobs\\\\RotateLogs\\":1:{s:5:\\"queue\\";s:12:\\"log-rotation\\";}"},"createdAt":1760122380,"delay":null}	0	\N	1760122380	1760122380
\.


--
-- Data for Name: nas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.nas (id, nasname, shortname, type, ports, secret, server, community, description) FROM stdin;
1	192.168.88.1	mikrotik	other	0	testing123	\N	\N	MikroTik Router
\.


--
-- Data for Name: packages; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.payments (id, user_id, mac_address, phone_number, package_id, router_id, amount, transaction_id, mpesa_receipt, status, payment_method, callback_response, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, expires_at, created_at, updated_at) FROM stdin;
1	App\\Models\\User	2	auth-token	82088631d9ccbc4c6f0e1bae909bbb513b7996dc361b75896d8cf434138bbcf7	["*"]	2025-10-10 21:52:23	\N	2025-10-10 20:21:24	2025-10-10 21:52:23
\.


--
-- Data for Name: radacct; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radacct (radacctid, acctsessionid, acctuniqueid, username, realm, nasipaddress, nasportid, acctstarttime, acctupdatetime, acctstoptime, acctinterval, acctsessiontime, acctauthentic, connectinfo_start, connectinfo_stop, acctinputoctets, acctoutputoctets, calledstationid, callingstationid, acctterminatecause, servicetype, framedprotocol, framedipaddress, acctstartdelay, acctstopdelay) FROM stdin;
\.


--
-- Data for Name: radcheck; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radcheck (id, username, attribute, op, value) FROM stdin;
1	testuser	Cleartext-Password	:=	testpass
\.


--
-- Data for Name: radgroupcheck; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radgroupcheck (id, groupname, attribute, op, value, created_at) FROM stdin;
\.


--
-- Data for Name: radgroupreply; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radgroupreply (id, groupname, attribute, op, value, created_at) FROM stdin;
\.


--
-- Data for Name: radius_sessions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radius_sessions (id, hotspot_user_id, payment_id, package_id, radacct_id, username, mac_address, ip_address, nas_ip_address, session_start, session_end, expected_end, duration_seconds, bytes_in, bytes_out, total_bytes, status, disconnect_reason, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: radpostauth; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radpostauth (id, username, pass, reply, authdate) FROM stdin;
\.


--
-- Data for Name: radreply; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radreply (id, username, attribute, op, value) FROM stdin;
\.


--
-- Data for Name: radusergroup; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.radusergroup (id, username, groupname, priority, created_at) FROM stdin;
\.


--
-- Data for Name: router_configs; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: router_vpn_configs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.router_vpn_configs (id, router_id, wireguard_public_key, wireguard_private_key, vpn_ip_address, listen_port, vpn_connected, last_handshake, bytes_received, bytes_sent, radius_server_ip, radius_auth_port, radius_acct_port, radius_secret, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: routers; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: session_disconnections; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.session_disconnections (id, radius_session_id, hotspot_user_id, disconnect_method, disconnect_reason, disconnected_at, disconnected_by, total_duration, total_data_used, created_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
\.


--
-- Data for Name: system_logs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.system_logs (id, action, details, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.user_sessions (id, payment_id, voucher, mac_address, start_time, end_time, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_subscriptions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.user_subscriptions (id, user_id, package_id, payment_id, mac_address, start_time, end_time, status, mikrotik_username, mikrotik_password, data_used_mb, time_used_minutes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: vouchers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.vouchers (id, code, mac_address, payment_id, package_id, duration_hours, status, expires_at, mikrotik_response, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: wireguard_peers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.wireguard_peers (id, router_id, peer_name, public_key, endpoint, allowed_ips, last_handshake) FROM stdin;
\.


--
-- Name: data_usage_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.data_usage_logs_id_seq', 1, false);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, true);


--
-- Name: hotspot_credentials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.hotspot_credentials_id_seq', 1, false);


--
-- Name: hotspot_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.hotspot_sessions_id_seq', 1, false);


--
-- Name: hotspot_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.hotspot_users_id_seq', 2, true);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1430, true);


--
-- Name: nas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.nas_id_seq', 1, true);


--
-- Name: packages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.packages_id_seq', 4, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.payments_id_seq', 1, false);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, true);


--
-- Name: radacct_radacctid_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radacct_radacctid_seq', 1, false);


--
-- Name: radcheck_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radcheck_id_seq', 1, true);


--
-- Name: radgroupcheck_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radgroupcheck_id_seq', 1, false);


--
-- Name: radgroupreply_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radgroupreply_id_seq', 1, false);


--
-- Name: radius_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radius_sessions_id_seq', 1, false);


--
-- Name: radpostauth_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radpostauth_id_seq', 1, false);


--
-- Name: radreply_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radreply_id_seq', 1, false);


--
-- Name: radusergroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.radusergroup_id_seq', 1, false);


--
-- Name: router_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.router_configs_id_seq', 10, true);


--
-- Name: router_vpn_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.router_vpn_configs_id_seq', 1, false);


--
-- Name: routers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.routers_id_seq', 2, true);


--
-- Name: session_disconnections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.session_disconnections_id_seq', 1, false);


--
-- Name: system_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.system_logs_id_seq', 1, false);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 1, false);


--
-- Name: user_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.user_subscriptions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: vouchers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.vouchers_id_seq', 1, false);


--
-- Name: wireguard_peers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.wireguard_peers_id_seq', 1, false);


--
-- Name: data_usage_logs data_usage_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.data_usage_logs
    ADD CONSTRAINT data_usage_logs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_key UNIQUE (uuid);


--
-- Name: hotspot_credentials hotspot_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_credentials
    ADD CONSTRAINT hotspot_credentials_pkey PRIMARY KEY (id);


--
-- Name: hotspot_sessions hotspot_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_sessions
    ADD CONSTRAINT hotspot_sessions_pkey PRIMARY KEY (id);


--
-- Name: hotspot_users hotspot_users_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_users
    ADD CONSTRAINT hotspot_users_phone_number_key UNIQUE (phone_number);


--
-- Name: hotspot_users hotspot_users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_users
    ADD CONSTRAINT hotspot_users_pkey PRIMARY KEY (id);


--
-- Name: hotspot_users hotspot_users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_users
    ADD CONSTRAINT hotspot_users_username_key UNIQUE (username);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: nas nas_nasname_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.nas
    ADD CONSTRAINT nas_nasname_key UNIQUE (nasname);


--
-- Name: nas nas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.nas
    ADD CONSTRAINT nas_pkey PRIMARY KEY (id);


--
-- Name: packages packages_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.packages
    ADD CONSTRAINT packages_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: payments payments_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_transaction_id_key UNIQUE (transaction_id);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_key UNIQUE (token);


--
-- Name: radacct radacct_acctuniqueid_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radacct
    ADD CONSTRAINT radacct_acctuniqueid_key UNIQUE (acctuniqueid);


--
-- Name: radacct radacct_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radacct
    ADD CONSTRAINT radacct_pkey PRIMARY KEY (radacctid);


--
-- Name: radcheck radcheck_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radcheck
    ADD CONSTRAINT radcheck_pkey PRIMARY KEY (id);


--
-- Name: radgroupcheck radgroupcheck_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radgroupcheck
    ADD CONSTRAINT radgroupcheck_pkey PRIMARY KEY (id);


--
-- Name: radgroupreply radgroupreply_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radgroupreply
    ADD CONSTRAINT radgroupreply_pkey PRIMARY KEY (id);


--
-- Name: radius_sessions radius_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radius_sessions
    ADD CONSTRAINT radius_sessions_pkey PRIMARY KEY (id);


--
-- Name: radpostauth radpostauth_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radpostauth
    ADD CONSTRAINT radpostauth_pkey PRIMARY KEY (id);


--
-- Name: radreply radreply_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radreply
    ADD CONSTRAINT radreply_pkey PRIMARY KEY (id);


--
-- Name: radusergroup radusergroup_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radusergroup
    ADD CONSTRAINT radusergroup_pkey PRIMARY KEY (id);


--
-- Name: router_configs router_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_configs
    ADD CONSTRAINT router_configs_pkey PRIMARY KEY (id);


--
-- Name: router_vpn_configs router_vpn_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_vpn_configs
    ADD CONSTRAINT router_vpn_configs_pkey PRIMARY KEY (id);


--
-- Name: router_vpn_configs router_vpn_configs_router_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_vpn_configs
    ADD CONSTRAINT router_vpn_configs_router_id_key UNIQUE (router_id);


--
-- Name: router_vpn_configs router_vpn_configs_vpn_ip_address_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_vpn_configs
    ADD CONSTRAINT router_vpn_configs_vpn_ip_address_key UNIQUE (vpn_ip_address);


--
-- Name: router_vpn_configs router_vpn_configs_wireguard_public_key_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_vpn_configs
    ADD CONSTRAINT router_vpn_configs_wireguard_public_key_key UNIQUE (wireguard_public_key);


--
-- Name: routers routers_config_token_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.routers
    ADD CONSTRAINT routers_config_token_key UNIQUE (config_token);


--
-- Name: routers routers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.routers
    ADD CONSTRAINT routers_pkey PRIMARY KEY (id);


--
-- Name: session_disconnections session_disconnections_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.session_disconnections
    ADD CONSTRAINT session_disconnections_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: system_logs system_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_voucher_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_voucher_key UNIQUE (voucher);


--
-- Name: user_subscriptions user_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: users users_account_number_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_account_number_key UNIQUE (account_number);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_number_key UNIQUE (phone_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: vouchers vouchers_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_code_key UNIQUE (code);


--
-- Name: vouchers vouchers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_pkey PRIMARY KEY (id);


--
-- Name: wireguard_peers wireguard_peers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.wireguard_peers
    ADD CONSTRAINT wireguard_peers_pkey PRIMARY KEY (id);


--
-- Name: idx_data_usage_logs_date; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_data_usage_logs_date ON public.data_usage_logs USING btree (recorded_at);


--
-- Name: idx_data_usage_logs_session; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_data_usage_logs_session ON public.data_usage_logs USING btree (radius_session_id);


--
-- Name: idx_data_usage_logs_user; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_data_usage_logs_user ON public.data_usage_logs USING btree (hotspot_user_id);


--
-- Name: idx_hotspot_credentials_phone; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_credentials_phone ON public.hotspot_credentials USING btree (phone_number);


--
-- Name: idx_hotspot_credentials_sms_sent; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_credentials_sms_sent ON public.hotspot_credentials USING btree (sms_sent);


--
-- Name: idx_hotspot_credentials_user; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_credentials_user ON public.hotspot_credentials USING btree (hotspot_user_id);


--
-- Name: idx_hotspot_sessions_expires_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_sessions_expires_at ON public.hotspot_sessions USING btree (expires_at);


--
-- Name: idx_hotspot_sessions_is_active; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_sessions_is_active ON public.hotspot_sessions USING btree (is_active);


--
-- Name: idx_hotspot_sessions_mac_address; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_sessions_mac_address ON public.hotspot_sessions USING btree (mac_address);


--
-- Name: idx_hotspot_sessions_session_start; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_sessions_session_start ON public.hotspot_sessions USING btree (session_start);


--
-- Name: idx_hotspot_sessions_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_sessions_user_id ON public.hotspot_sessions USING btree (hotspot_user_id);


--
-- Name: idx_hotspot_users_deleted_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_users_deleted_at ON public.hotspot_users USING btree (deleted_at);


--
-- Name: idx_hotspot_users_has_active_subscription; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_users_has_active_subscription ON public.hotspot_users USING btree (has_active_subscription);


--
-- Name: idx_hotspot_users_phone_number; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_users_phone_number ON public.hotspot_users USING btree (phone_number);


--
-- Name: idx_hotspot_users_subscription_expires_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_users_subscription_expires_at ON public.hotspot_users USING btree (subscription_expires_at);


--
-- Name: idx_hotspot_users_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_hotspot_users_username ON public.hotspot_users USING btree (username);


--
-- Name: idx_jobs_queue; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_jobs_queue ON public.jobs USING btree (queue);


--
-- Name: idx_payments_created_at; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payments_created_at ON public.payments USING btree (created_at DESC);


--
-- Name: idx_payments_phone_number; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payments_phone_number ON public.payments USING btree (phone_number);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payments_status ON public.payments USING btree (status);


--
-- Name: idx_payments_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payments_user_id ON public.payments USING btree (user_id);


--
-- Name: idx_radius_sessions_expected_end; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_radius_sessions_expected_end ON public.radius_sessions USING btree (expected_end);


--
-- Name: idx_radius_sessions_hotspot_user; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_radius_sessions_hotspot_user ON public.radius_sessions USING btree (hotspot_user_id);


--
-- Name: idx_radius_sessions_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_radius_sessions_status ON public.radius_sessions USING btree (status);


--
-- Name: idx_radius_sessions_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_radius_sessions_username ON public.radius_sessions USING btree (username);


--
-- Name: idx_router_vpn_configs_router_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_router_vpn_configs_router_id ON public.router_vpn_configs USING btree (router_id);


--
-- Name: idx_router_vpn_configs_vpn_connected; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_router_vpn_configs_vpn_connected ON public.router_vpn_configs USING btree (vpn_connected);


--
-- Name: idx_session_disconnections_date; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_session_disconnections_date ON public.session_disconnections USING btree (disconnected_at);


--
-- Name: idx_session_disconnections_method; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_session_disconnections_method ON public.session_disconnections USING btree (disconnect_method);


--
-- Name: idx_session_disconnections_user; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_session_disconnections_user ON public.session_disconnections USING btree (hotspot_user_id);


--
-- Name: idx_user_subscriptions_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_subscriptions_status ON public.user_subscriptions USING btree (status);


--
-- Name: idx_user_subscriptions_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_user_subscriptions_user_id ON public.user_subscriptions USING btree (user_id);


--
-- Name: idx_users_account_number; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_account_number ON public.users USING btree (account_number) WHERE (account_number IS NOT NULL);


--
-- Name: idx_users_is_active; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_is_active ON public.users USING btree (is_active);


--
-- Name: idx_users_phone_number; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_phone_number ON public.users USING btree (phone_number) WHERE (phone_number IS NOT NULL);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: nas_nasname; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX nas_nasname ON public.nas USING btree (nasname);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: radacct_acctsessionid; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radacct_acctsessionid ON public.radacct USING btree (acctsessionid);


--
-- Name: radacct_acctstarttime; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radacct_acctstarttime ON public.radacct USING btree (acctstarttime);


--
-- Name: radacct_acctuniqueid; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radacct_acctuniqueid ON public.radacct USING btree (acctuniqueid);


--
-- Name: radacct_active; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radacct_active ON public.radacct USING btree (acctuniqueid) WHERE (acctstoptime IS NULL);


--
-- Name: radacct_nasipaddress; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radacct_nasipaddress ON public.radacct USING btree (nasipaddress);


--
-- Name: radacct_start; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radacct_start ON public.radacct USING btree (acctstarttime, username);


--
-- Name: radacct_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radacct_username ON public.radacct USING btree (username);


--
-- Name: radcheck_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radcheck_username ON public.radcheck USING btree (username, attribute);


--
-- Name: radpostauth_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radpostauth_username ON public.radpostauth USING btree (username);


--
-- Name: radreply_username; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX radreply_username ON public.radreply USING btree (username, attribute);


--
-- Name: hotspot_sessions trigger_hotspot_sessions_updated_at; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trigger_hotspot_sessions_updated_at BEFORE UPDATE ON public.hotspot_sessions FOR EACH ROW EXECUTE FUNCTION public.update_hotspot_sessions_updated_at();


--
-- Name: hotspot_users trigger_hotspot_users_updated_at; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trigger_hotspot_users_updated_at BEFORE UPDATE ON public.hotspot_users FOR EACH ROW EXECUTE FUNCTION public.update_hotspot_users_updated_at();


--
-- Name: radius_sessions trigger_radius_sessions_updated_at; Type: TRIGGER; Schema: public; Owner: admin
--

CREATE TRIGGER trigger_radius_sessions_updated_at BEFORE UPDATE ON public.radius_sessions FOR EACH ROW EXECUTE FUNCTION public.update_radius_sessions_updated_at();


--
-- Name: data_usage_logs data_usage_logs_hotspot_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.data_usage_logs
    ADD CONSTRAINT data_usage_logs_hotspot_user_id_fkey FOREIGN KEY (hotspot_user_id) REFERENCES public.hotspot_users(id) ON DELETE CASCADE;


--
-- Name: data_usage_logs data_usage_logs_radius_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.data_usage_logs
    ADD CONSTRAINT data_usage_logs_radius_session_id_fkey FOREIGN KEY (radius_session_id) REFERENCES public.radius_sessions(id) ON DELETE CASCADE;


--
-- Name: hotspot_sessions fk_hotspot_session_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_sessions
    ADD CONSTRAINT fk_hotspot_session_user FOREIGN KEY (hotspot_user_id) REFERENCES public.hotspot_users(id) ON DELETE CASCADE;


--
-- Name: hotspot_users fk_hotspot_user_package; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_users
    ADD CONSTRAINT fk_hotspot_user_package FOREIGN KEY (package_id) REFERENCES public.packages(id) ON DELETE SET NULL;


--
-- Name: hotspot_credentials hotspot_credentials_hotspot_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_credentials
    ADD CONSTRAINT hotspot_credentials_hotspot_user_id_fkey FOREIGN KEY (hotspot_user_id) REFERENCES public.hotspot_users(id) ON DELETE CASCADE;


--
-- Name: hotspot_credentials hotspot_credentials_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.hotspot_credentials
    ADD CONSTRAINT hotspot_credentials_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE SET NULL;


--
-- Name: payments payments_package_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_package_id_fkey FOREIGN KEY (package_id) REFERENCES public.packages(id) ON DELETE CASCADE;


--
-- Name: payments payments_router_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_router_id_fkey FOREIGN KEY (router_id) REFERENCES public.routers(id) ON DELETE SET NULL;


--
-- Name: payments payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: radius_sessions radius_sessions_hotspot_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radius_sessions
    ADD CONSTRAINT radius_sessions_hotspot_user_id_fkey FOREIGN KEY (hotspot_user_id) REFERENCES public.hotspot_users(id) ON DELETE CASCADE;


--
-- Name: radius_sessions radius_sessions_package_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radius_sessions
    ADD CONSTRAINT radius_sessions_package_id_fkey FOREIGN KEY (package_id) REFERENCES public.packages(id) ON DELETE SET NULL;


--
-- Name: radius_sessions radius_sessions_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.radius_sessions
    ADD CONSTRAINT radius_sessions_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE SET NULL;


--
-- Name: router_configs router_configs_router_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_configs
    ADD CONSTRAINT router_configs_router_id_fkey FOREIGN KEY (router_id) REFERENCES public.routers(id) ON DELETE CASCADE;


--
-- Name: router_vpn_configs router_vpn_configs_router_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.router_vpn_configs
    ADD CONSTRAINT router_vpn_configs_router_id_fkey FOREIGN KEY (router_id) REFERENCES public.routers(id) ON DELETE CASCADE;


--
-- Name: session_disconnections session_disconnections_disconnected_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.session_disconnections
    ADD CONSTRAINT session_disconnections_disconnected_by_fkey FOREIGN KEY (disconnected_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: session_disconnections session_disconnections_hotspot_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.session_disconnections
    ADD CONSTRAINT session_disconnections_hotspot_user_id_fkey FOREIGN KEY (hotspot_user_id) REFERENCES public.hotspot_users(id) ON DELETE CASCADE;


--
-- Name: session_disconnections session_disconnections_radius_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.session_disconnections
    ADD CONSTRAINT session_disconnections_radius_session_id_fkey FOREIGN KEY (radius_session_id) REFERENCES public.radius_sessions(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_sessions user_sessions_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE CASCADE;


--
-- Name: user_subscriptions user_subscriptions_package_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_package_id_fkey FOREIGN KEY (package_id) REFERENCES public.packages(id) ON DELETE CASCADE;


--
-- Name: user_subscriptions user_subscriptions_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE SET NULL;


--
-- Name: user_subscriptions user_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.user_subscriptions
    ADD CONSTRAINT user_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: vouchers vouchers_package_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_package_id_fkey FOREIGN KEY (package_id) REFERENCES public.packages(id) ON DELETE CASCADE;


--
-- Name: vouchers vouchers_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON DELETE CASCADE;


--
-- Name: wireguard_peers wireguard_peers_router_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.wireguard_peers
    ADD CONSTRAINT wireguard_peers_router_id_fkey FOREIGN KEY (router_id) REFERENCES public.routers(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict FMX0fc3b2t2b6OzsNhehjsc3WF9Se5J3h20Kk4BNeWWIajOf0M7cIEkFlZyIeNI

